html {font-size: 100%;}
body, li, ul {margin: 0;padding: 0;}
li {list-style-type: none;}
body {background-color: #fff;font-weight:400;font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;}
a:hover {text-decoration: none;}
a, button {-moz-transition: all 0.3s;-o-transition: all 0.3s;-webkit-transition: all 0.3s;transition: all 0.3s;}
.center {width: 100%;margin-left: auto;margin-right: auto;}
@media only screen and (min-width:992px) {.center {width: 60%;}}
.clear{clear:both}
.error-text {color: #f94044;}
.my-text-overflow{-ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
/*Nav*/
.nav-top{margin-bottom:20px;}
.nav-top ul{width:100%;height:25px;padding-left:2%;background-color:#fab614;line-height:25px;font-size:.875em;}
.nav-top a{color:#fff;}
.nav-top a:hover{color:#4f4f4f;}
.nav-top li{display:inline;padding-right:1.5%;}
/*Header*/
.header{margin:20px auto;}
#head-ul{padding:15px 0 0 20px;}
#head-ul a{padding:0 15px;color:#fab614;border:1px solid #fff;border-radius:3px;font-size: 1.25em;}
#head-ul a:hover{border:1px solid #fab614;}
#head-user{text-align:right}
#username{padding-top:15px}
#username a{margin-right: 10px;}
#username a:first-child{margin-left:5px;}
/*Footer*/
footer {width:100%;color:#fff;background-color:#4f4f4f;padding:25px 0 10px;font-size:.875em}
footer .row{background-color:#4f4f4f}
#footer-logo{width:220px;height:38px;margin-bottom:20px;background-image:url(../image/footer_image.png);}
footer #footer-right #footer-right-left {padding-right: 5%;}
footer #footer-right{margin-top:25px;}
footer #footer-right>div {float: left;}
footer .container{background-color:#4f4f4f}
.footer-fixed{position:fixed;bottom:0}
/*bootstrapµÄ°´Å¥=¡£=*/
.btn-success{border-color:#79c653}
.btn-success:hover{background-color:#79c653;color:#fff}
.btn-primary:hover{background-color:#fff;color:#79c653;border-color:#79c653}
.btn-submit{border-color:#f3aa08;background-color:#feb512;color:#fff}
.btn-submit:hover{background-color:#f3aa08;color:#fff}
/*thumbnail*/
.thumbnail {padding: 7px 5px;margin-bottom:0;cursor: pointer;-moz-transition: box-shadow 0.3s;-o-transition: box-shadow 0.3s;-webkit-transition:box-shadow 0.3s;transition:box-shadow 0.3s;}
.thumbnail:hover{box-shadow:0 0 10px #ddd}
.thumbnail .caption{padding-bottom:0}
.thumbnail .caption p{margin-bottom:0}
.thumb {margin-bottom:15px;}
.thumbnail img{display:block;width:100%;height:auto}