@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "二货商品区-柳交所";
    ViewBag.Css = new string[]{
        "~/CSS/show.css"
    };
}

<div class="container" id="button-area">
    <a href="~/Sell/Search/Page/1" class="btn btn-success">二手商品区</a><a href="~/Buy/Search/Page/1" class="btn btn-primary">二手求购区</a>
    <a class="btn btn-warning float-r" href="~/Home/Publish"><span class="glyphicon glyphicon-plus"></span> 我 要 发 布</a>
</div>

<div class="container">
    <div class="row">
        <h5>| 二货分类</h5>
        <div class="col-md-3 col-xs-6 sort">
            <ul class="col-xs-6">
                <li id="class1"><a href="#">校园代步</a></li>
                <li class="hidden-xs">
                    <a href="#">自行车</a>
                    <a href="#">其他</a>
                </li>
            </ul>
            <ul class="col-xs-6">
                <li id="class2"><a href="#">图书</a></li>
                <li class="hidden-xs">
                    <a href="#">教科书</a>
                    <a href="#">考研用书</a>
                </li>
                <li class="hidden-xs">
                    <a href="#">考级用书</a>
                    <a href="#">课外书</a>
                </li>
                <li class="hidden-xs"><a href="#">其他</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-xs-6 sort">
            <ul class="col-xs-6">
                <li id="class3"><a href="#">电子产品</a></li>
                <li class="hidden-xs">
                    <a href="#">手机</a>
                    <a href="#">电脑</a>
                    <a href="#">平板</a>
                </li>
                <li class="hidden-xs">
                    <a href="#">游戏机</a>
                    <a href="#">相机</a>
                </li>
                <li class="hidden-xs">
                    <a href="#">MP3\MP4</a>
                    <a href="#">其他</a>
                </li>
            </ul>
            <ul class="col-xs-6">
                <li id="class4"><a href="#">数码配件</a></li>
                <li class="hidden-xs">
                    <a href="#">U盘</a>
                    <a href="#">移动硬盘</a>
                </li>
                <li class="hidden-xs">
                    <a href="#">鼠标</a>
                    <a href="#">键盘</a>
                    <a href="#">耳机</a>
                </li>
                <li class="hidden-xs"><a href="#">其他</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-xs-6 sort">
            <ul class="col-xs-6">
                <li id="class5"><a href="#">生活用品</a></li>
                <li class="hidden-xs">
                    <a href="#">小电器</a>
                    <a href="#">小家具</a>
                </li>
                <li class="hidden-xs">
                    <a href="#">运动</a>
                    <a href="#">化妆品</a>
                </li>
                <li class="hidden-xs"><a href="#">其他</a></li>
            </ul>
            <ul class="col-xs-6">
                <li id="class6"><a href="#">服装</a></li>
                <li class="hidden-xs">
                    <a href="#">男生的</a>
                    <a href="#">女生的</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 col-xs-6 sort">
            <ul class="col-xs-6">
                <li id="class7"><a href="#">虚拟物品</a></li>
            </ul>
            <ul class="col-xs-6">
                <li id="class8"><a href="#">票务</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container" id="show-area">
    <div class="row">
        <div class="container" id="location">
            <span class="linkitem">您的位置 >></span><a class="linkitem all-sort-linkitem2" href="~/Sell/Search/Page/1">二手商品区</a>
        </div>
        <div class="row">
            @foreach (var m in ViewData.Model)
            {
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <div class="thumbnail">
                        <a href="#"><img src="~/PicPool/Get/ID/@m.PID/Size/400x400"/></a>
                        <div class="caption">
                            <p class="my-text-overflow">@m.Title</p>
                            <p class="text-right">
                                <small>@m.NickName</small>
                                <span class="error-text">￥@m.Price</span>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>