<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataSource.Properties.Settings.TradeWorkstationConnectionString"
            connectionString="Data Source=192.168.123.41;Initial Catalog=TradeWorkstation;Persist Security Info=True;User ID=TradeWorkstation;Password=ghy2015)^)^"
            providerName="System.Data.SqlClient" />
        <add name="DataSource.Properties.Settings.ghyusersConnectionString"
            connectionString="Data Source=192.168.123.41;Initial Catalog=ghyusers;Persist Security Info=True;User ID=TradeWorkstation;Password=ghy2015)^)^"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>