/*主体*/
#main{padding:0 90px;}
h5{font-size:1em;color:#fab614;}
#main-bottom{display: block;line-height: 24px;vertical-align: bottom;font-size: .75em;padding-top: 10px;margin-top:10px;}
#location{padding-bottom: 5px;font-size:.75em;color: #9b9b9b;padding-top:10px;border-top: 1px solid #F6F6F6;}
#location a{text-decoration: underline;color: #9b9b9b;}
#main-bottom p{text-align: center;}
#button-area{border-bottom:1px solid #dadada; padding-bottom: 10px;}
#show-area{margin-bottom: 50px;}
.all-sort-linkitem1{font-weight:800;padding:0 20px 0 0;}
.all-sort-linkitem2{padding:0 8px 0 0;}
.sort ul li{display: block;height: 24px;line-height: 24px;vertical-align: bottom;font-size: .75em;}
.sort ul{width:50%;margin:5px 0;float:left;padding-left:10px;}
.sort ul:first-child{padding-right:10px;padding-left:0;}