@charset "utf-8";
/* CSS Document */
body,ul,li,ol{list-style:none;padding:0;margin:0;font-size:12px;}
img{border:0;}
			
.bzBanner{width:100%;  height:auto; overflow:hidden; position: relative; }
.bzBanner .content,.bzBanner .col,.bzBanner .col a{width:100%; height:100%; position: absolute; top:0; left:0; }
.bzBanner .btn{position: absolute; bottom:25px; right:50px; z-index:5; }
.bzBanner .btn i{display:block; float: left; width:15px; height:15px; padding:0 5px; border-radius:15px; margin-left:15px; background:#b4b4b4; overflow:hidden; opacity:0.4; filter:alpha(opacity=40); cursor:pointer; }
.bzBanner .btn i:hover{background:#fab614; }
.bzBanner .btn i.act{opacity:0.8; filter:alpha(opacity=80); background:#fab614; }
.bzBanner .pre,.bzBanner .next{display:inline-block; width:72px; height:72px; background:url(../bzbanner/btn.png) no-repeat; position:absolute; top:50%; margin-top:-50px; z-index:3; }
.bzBanner .pre{left:30px; }
.bzBanner .next{right:30px; background-position:0 -72px; }
.bzBanner .pre:hover{background-position:0 -144px; }
.bzBanner .next:hover{background-position:0 -216px; }
.bzBanner .col a{color:white; }
.bzBanner  button{display:inline-block;  position:absolute; z-index:3;}

@media (min-width: 750px) and (max-width: 970px) { 
	.bzBanner  button{left:340px; }
}
@media (min-width: 970px) and (max-width: 1170px) {
	.bzBanner  button{left:450px; }
}
@media (min-width: 1170px) {
	.bzBanner  button{left:450px; }
}
	