@charset "utf-8";
/* CSS Document */

footer{padding:10px 0 5px;background-color:#4f4f4f;color:#FFF;font-size:.75em;}
#footer-logo{width:220px;height:38px;margin-bottom:20px;background-image:url(../image/footer_image.png);}
#footer-left{padding-right:50px;}
#footer-right{padding:40px 0 0 10px;}
#footer-right p{margin:0 0 5px;}
#footer-right div{float:left;}
#footer-right-left{padding-right:5%;}

#main-bottom{display: block;line-height: 24px;vertical-align: bottom;font-size: .75em;padding-top: 10px;margin-top:10px;}
#show-area{margin-bottom: 50px;}
#main{padding:0 22px;}
h5{font-size:1em;color:#fab614;}
#btn-left{margin-right: 10px;}
#button-area{ padding-bottom: 10px;}
.all-sort-linkitem2{padding:0 10px 0 0;}
.list-left{font-size:.75em;color:#c7c7c7;}
.list-right{background-color: #f8f8f8;}
.list-right p{word-break:break-all; word-wrap:break-word ;}
#sell-div{border-top: 1px solid #eeeeee;margin-top:15px;margin-bottom: 15px;}
#sell li{margin:5px 0;}
.pic-box{padding: 0 9px 10px 8px;position: relative;}
.mask{background-color:#666;width:200px;height:30px;position:absolute;bottom:10px;left:8px;opacity: .7;filter: alpha(opacity=70);padding:0 5%;}
.mask p{color:#FFF;line-height:30px;margin-bottom:0;font-size:.75em;}
.totop{position: fixed;z-index:99;top:450px;left:1160px;width:50px;height:67px;background:url(../image/totop.png) no-repeat;-webkit-transition: all 0.2s ease-in-out;}
#good{margin-top:15px;border-top: 1px solid #eeeeee;padding-top:10px;}
#list-small-area{padding:10px 0 0 3px;}
.list-small{height:48px;width:48px;margin-right:5px;display:block;overflow: hidden;float:left;}
.good li{display:inline;}
#left-top-right p{color:#999999;font-size: .75em;padding-top: 5px;}
#left-top-right a{margin-bottom:0;margin-top:88px;color:#9BDD7C;}
#erhuoxiangqing p{color:#999999;font-size: .75em;padding-top: 5px;}
#erhuoxiangqing p{background-color: #fafafa;padding:5px;}

#fabiao{float:right;margin-top:5px}
#message-show{margin-top:20px;}
.list-right{padding:10px 20px;color:#999999;font-size: .75em;}
.datatime{color:#999999;font-size: .75em;margin-top:5px;}
#more li{margin:5px 0;}
#more-div{border-top: 1px solid #eeeeee;margin-top:5px;padding:0 5px 0 10px;}
.button-banner{float:right;display:inline-block;}
.linkitem{color:#999999;float:left;}
.datatime{color:#999999;float:right;}
#location{padding-bottom: 5px;font-size:.75em;color: #9b9b9b;padding-top:10px;}
#location a{text-decoration: underline;color: #9b9b9b;}

#good img{width:100%;height:auto;}