@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "柳交所";
    ViewBag.Css = new string[]{
        "~/CSS/index.min.css"
    };
}
<div class="content slide">
    <div id="banner">
        <div class="container">
            <div class="row">
                <div class='bzBanner'>
                    <div class='content'>
                        <div class='col'>
                            <a href='javascript:;'>
                                <img src='~/image/banner.png' width=100% />
                            </a>
                        </div>
                        <div class='col'>
                            <a href='javascript:;'>
                                <img src='~/bzbanner/13.jpg' width=100% />
                            </a>
                        </div>
                        <div class='col'>
                            <a href='javascript:;'>
                                <img src='~/bzbanner/14.jpg' width=100% />
                            </a>
                        </div>
                        <div class='col'>
                            <a href='javascript:;'>
                                <img src='~/bzbanner/15.jpg' width=100% />
                            </a>
                        </div>
                        <button type="button" class="btn btn-submit hidden-xs"><span class="glyphicon glyphicon-plus"></span>我要发布</button>
                    </div>
                    <div class='btn hidden-xs'><i></i><i></i><i></i><i></i></div>
                    <a class='pre hidden-xs' href='javascript:;' title='上一张'></a>
                    <a class='next hidden-xs' href='javascript:;' title='下一张'></a>
                </div>
                <!--<button type="button" class="btn" id="button-o"><span class="glyphicon glyphicon-plus"></span>我要发布</button>-->
                <!--可用，注册登录后显示<p><a class="button1" id="load-more-content" href="#"><span class="glyphicon glyphicon-plus"></span>我要发布</a></p>-->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="erhuo">
                    <h4>最新二手<a href="#">进入二货>></a></h4>
                    <div id="erhuo-content">
                        <div class="row" id="study">
                            <h5>| 我爱学习</h5>
                            <div class="col-md-2 erhuo-left hidden-sm hidden-xs">
                                <ul>
                                    <li><a class="linkitem" href="#">教科书</a></li>
                                    <li><a class="linkitem" href="#">考研用书</a></li>
                                    <li><a class="linkitem" href="#">考级考证</a></li>
                                    <li><a class="linkitem" href="#">课外书</a></li>
                                    <li><a class="linkitem" href="#">电脑、平板</a></li>
                                </ul>
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-3 col-xs-12 col-sm-3">
                                        <div class=" erhuo-block ">
                                            <div class="pic-box">
                                                <a href="#"><img class="scrollLoading" data-url="image/erhuo-image-115.png" /></a>
                                                <div class="mask">
                                                    <p>我不是煌煌煌</p>
                                                </div>
                                                <div class="list-bottom">
                                                    <span class="data">2015-9-15</span>
                                                    <span class="price">¥2000</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-xs-12 col-sm-3">
                                        <div class=" erhuo-block ">
                                            <div class="pic-box">
                                                <a href="#"><img class="scrollLoading" data-url="image/erhuo-image-115.png" /></a>
                                                <div class="mask">
                                                    <p>我不是煌煌煌</p>
                                                </div>
                                                <div class="list-bottom">
                                                    <span class="data">2015-9-15</span>
                                                    <span class="price">¥2000</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-xs-12 col-sm-3">
                                        <div class=" erhuo-block ">
                                            <div class="pic-box">
                                                <a href="#"><img class="scrollLoading" data-url="image/erhuo-image-115.png" /></a>
                                                <div class="mask">
                                                    <p>我不是煌煌煌</p>
                                                </div>
                                                <div class="list-bottom">
                                                    <span class="data">2015-9-15</span>
                                                    <span class="price">¥2000</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-xs-12 col-sm-3">
                                        <div class=" erhuo-block ">
                                            <div class="pic-box">
                                                <a href="#"><img class="scrollLoading" data-url="image/erhuo-image-115.png" /></a>
                                                <div class="mask">
                                                    <p>我不是煌煌煌</p>
                                                </div>
                                                <div class="list-bottom">
                                                    <span class="data">2015-9-15</span>
                                                    <span class="price">¥2000</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="life">
                            <h5>| 生活必备</h5>
                            <div class="col-md-2 erhuo-left hidden-sm hidden-xs">
                                <ul>
                                    <li><a class="linkitem" href="#">自行车</a></li>
                                    <li><a class="linkitem" href="#">小电器</a></li>
                                    <li><a class="linkitem" href="#">化妆品</a></li>
                                    <li><a class="linkitem" href="#">服装</a></li>
                                </ul>
                            </div>
                            <div class="col-md-10">
                                <div class="row">

                                </div>
                            </div>
                        </div>
                        <div class="row" id="relax">
                            <h5>| 休闲娱乐</h5>
                            <div class="col-md-2 erhuo-left hidden-sm hidden-xs">
                                <ul>
                                    <li><a class="linkitem" href="#">运动</a></li>
                                    <li><a class="linkitem" href="#">手机</a></li>
                                    <li><a class="linkitem" href="#">相机</a></li>
                                    <li><a class="linkitem" href="#">MP3/MP4</a></li>
                                    <li><a class="linkitem" href="#">虚拟物品</a></li>
                                    <li><a class="linkitem" href="#">游戏机</a></li>
                                </ul>
                            </div>
                            <div class="col-md-10">
                                <div class="row">

                                </div>
                            </div>
                        </div>

                        <div class="row" id="all-sort">
                            <h5>全部二手分类</h5>
                            <div class="col-md-7 col-sm-7 erhuo-left">
                                <ul>
                                    <li>
                                        <a class="linkitem all-sort-linkitem1" href="#">校园代步</a>
                                        <a class="linkitem all-sort-linkitem2" href="#">自行车</a>
                                        <a class="linkitem all-sort-linkitem2" href="#">其他</a>
                                    </li>
                                    <li>
                                        <a class="linkitem all-sort-linkitem1" href="#">图书</a>
                                        <a class="linkitem all-sort-linkitem2" href="#">教科书</a>
                                        <a class="linkitem all-sort-linkitem2" href="#">考研用书</a>
                                        <a class="linkitem all-sort-linkitem2" href="#">考级考证</a>
                                        <a class="linkitem all-sort-linkitem2" href="#">课外书</a>
                                        <a class="linkitem all-sort-linkitem2" href="#">其他</a>
                                    </li>
                                    <li>
                                        <a class="linkitem all-sort-linkitem1" href="#">电子产品</a>
                                        <a class="linkitem all-sort-linkitem2" href="#">手机</a>
                                        <a class="linkitem all-sort-linkitem2" href="#">电脑、平板</a>
                                        <a class="linkitem all-sort-linkitem2" href="#">游戏机</a>
                                        <a class="linkitem all-sort-linkitem2" href="#">相机</a>
                                        <a class="linkitem all-sort-linkitem2" href="#">MP3/MP4</a>
                                        <a class="linkitem all-sort-linkitem2" href="#">其他</a>
                                    </li>
                                    <li>
                                        <a class="linkitem all-sort-linkitem1" href="#">数码配件</a>
                                        <a class="linkitem all-sort-linkitem2" href="#">U盘、移动硬盘</a>
                                        <a class="linkitem all-sort-linkitem2" href="#">鼠标、键盘</a>
                                        <a class="linkitem all-sort-linkitem2" href="#">耳机</a>
                                        <a class="linkitem all-sort-linkitem2" href="#">其他</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-5 col-sm-5 erhuo-left">
                                <ul>
                                    <li>
                                        <a class="linkitem all-sort-linkitem1" href="#">生活用品</a>
                                        <a class="linkitem all-sort-linkitem2" href="#">小电器</a>
                                        <a class="linkitem all-sort-linkitem2" href="#">小家具</a>
                                        <a class="linkitem all-sort-linkitem2" href="#">运动</a>
                                        <a class="linkitem all-sort-linkitem2" href="#">化妆品</a>
                                        <a class="linkitem all-sort-linkitem2" href="#">其他</a>
                                    </li>
                                    <li>
                                        <a class="linkitem all-sort-linkitem1" href="#">服装鞋包</a>
                                        <a class="linkitem all-sort-linkitem2" href="#">男生的</a>
                                        <a class="linkitem all-sort-linkitem2" href="#">女生的</a>
                                    </li>
                                    <li>
                                        <a class="linkitem all-sort-linkitem1" href="#">虚拟物品</a>
                                    </li>
                                    <li>
                                        <a class="linkitem all-sort-linkitem1" href="#">票务</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1 col-sm-12">
                <div id="qiugou" class="col-md-12 col-sm-6">
                    <h4>最新求购<a href="#">进入求购区>></a></h4>
                    <ul>
                        <li>
                            <a class="classname" href="#">[征婚]</a>
                            <a class="linkitem" href="#">求交往啊求交往</a>
                            <span class="datatime">9-11</span>
                        </li>
                        <li>
                            <a class="classname" href="#">[征婚]</a>
                            <a class="linkitem" href="#">求交往啊求交往</a>
                            <span class="datatime">9-11</span>
                        </li>
                        <li>
                            <a class="classname" href="#">[征婚]</a>
                            <a class="linkitem" href="#">求交往啊求交往</a>
                            <span class="datatime">9-11</span>
                        </li>
                        <li>
                            <a class="classname" href="#">[征婚]</a>
                            <a class="linkitem" href="#">求交往啊求交往</a>
                            <span class="datatime">9-11</span>
                        </li>
                        <li>
                            <a class="classname" href="#">[征婚]</a>
                            <a class="linkitem" href="#">求交往啊求交往</a>
                            <span class="datatime">9-11</span>
                        </li>
                        <li>
                            <a class="classname" href="#">[征婚]</a>
                            <a class="linkitem" href="#">求交往啊求交往</a>
                            <span class="datatime">9-11</span>
                        </li>
                    </ul>
                </div>
                <div id="aipin" class="col-md-12 col-sm-6">
                    <h4>最新求拼<a href="#">进入爱拼>></a></h4>
                    <ul>
                        <li>
                            <a class="classname" href="#">[女友]</a>
                            <a class="linkitem" href="#">求拼女友啊啊啊</a>
                            <span class="datatime">9-11</span>
                        </li>
                        <li>
                            <a class="classname" href="#">[女友]</a>
                            <a class="linkitem" href="#">求拼女友啊啊啊</a>
                            <span class="datatime">9-11</span>
                        </li>
                        <li>
                            <a class="classname" href="#">[女友]</a>
                            <a class="linkitem" href="#">求拼女友啊啊啊</a>
                            <span class="datatime">9-11</span>
                        </li>
                        <li>
                            <a class="classname" href="#">[女友]</a>
                            <a class="linkitem" href="#">求拼女友啊啊啊</a>
                            <span class="datatime">9-11</span>
                        </li>
                        <li>
                            <a class="classname" href="#">[女友]</a>
                            <a class="linkitem" href="#">求拼女友啊啊啊</a>
                            <span class="datatime">9-11</span>
                        </li>
                        <li>
                            <a class="classname" href="#">[女友]</a>
                            <a class="linkitem" href="#">求拼女友啊啊啊</a>
                            <span class="datatime">9-11</span>
                        </li>
                    </ul>
                </div>
                <div id="pinche">
                    <h4>热门爱拼目的地</h4>
                    <ul>
                        <li>
                            <a class="linkitem pinche-linkitem" href="#">双流机场</a>
                            <a class="linkitem all-sort-linkitem2" href="#">春熙路</a>
                            <a class="linkitem all-sort-linkitem2" href="#">证从考场</a>
                        </li>
                        <li>
                            <a class="linkitem all-sort-linkitem2" href="#">北站</a>
                            <a class="linkitem pinche-linkitem" href="#">南站</a>
                            <a class="linkitem all-sort-linkitem2" href="#">万家湾</a>
                        </li>
                        <li>
                            <a class="linkitem all-sort-linkitem2" href="#">电子科大</a>
                            <a class="linkitem pinche-linkitem" href="#">川大-望江</a>
                            <a class="linkitem all-sort-linkitem2" href="#">西南交大</a>
                        </li>
                        <li>
                            <a class="linkitem all-sort-linkitem2" href="#">西南民大</a>
                            <a class="linkitem all-sort-linkitem2" href="#">川大-双流</a>
                            <a class="linkitem all-sort-linkitem2" href="#">川师</a>
                        </li>
                    </ul>
                </div>
                <div id="adv" class=" hidden-sm hidden-xs">
                    <a href="#"><img class="scrollLoading" data-url="image/adv.png" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(".scrollLoading").scrollLoading();
    });
</script>
<script src="~/JS/bzbanner.min.js"></script>
<script type="text/javascript">
    $(function () {
        benzi.bzBanner();
    });
</script>
