@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "柳交所";
    ViewBag.Css = new string[]{
        "~/bundles/index_styles"
    };
    ViewBag.Js = new string[]{
        "~/bundles/index_scripts"
    };
}
<div id="banner">
    <div class="container">
        <div class="row">
            <div class='bzBanner'>
                <div class='content'>
                    <div class='col'>
                        <a href='javascript:;'>
                            <img src='~/image/banner.png'/>
                        </a>
                    </div>
                    <div class='col'>
                        <a href='javascript:;'>
                            <img src='~/bzbanner/13.jpg'/>
                        </a>
                    </div>
                    <div class='col'>
                        <a href='javascript:;'>
                            <img src='~/bzbanner/14.jpg'/>
                        </a>
                    </div>
                    <div class='col'>
                        <a href='javascript:;'>
                            <img src='~/bzbanner/15.jpg'/>
                        </a>
                    </div>
                    <a href="~/Home/Publish" class="btn btn-submit hidden-xs" id="bzbanner-btn"><span class="glyphicon glyphicon-plus"></span>我要发布</a>
                </div>
                <div class='btn hidden-xs'><i></i><i></i><i></i><i></i></div>
                <a class='pre hidden-xs' href='javascript:;' title='上一张'></a>
                <a class='next hidden-xs' href='javascript:;' title='下一张'></a>
            </div>
            <!--<button type="button" class="btn" id="button-o"><span class="glyphicon glyphicon-plus"></span>我要发布</button>-->
            <!--可用，注册登录后显示<p><a class="button1" id="load-more-content" href="#"><span class="glyphicon glyphicon-plus"></span>我要发布</a></p>-->
        </div>
    </div>
</div>

<div class="container">
    <div class="row index">
        <div class="col-md-8">
            <h4>最新二手<small><a href="~/Sell/Search/Page/1">进入二手>></a></small></h4>
            <!--我爱学习-->
            <div class="index-study clearfix">
                <div class="col-md-12"><h5>| 我爱学习</h5></div>
                <div class="col-sm-2 hidden-xs index-class-block">
                    <h6 class="h6-on">教科书</h6>
                    <h6>考研用书</h6>
                    <h6>考级考证</h6>
                    <h6>课外书</h6>
                    <h6>电脑</h6>
                    <h6>平板</h6>
                </div>
                <!--教科书-->
                <div class="col-sm-10 index-pic-block">
                    <div class="col-sm-3 col-xs-6 thumb">
                        <div class="thumbnail">
                            <a href="/TradeWorkstation/Sell/Detail/ID/101ede68-eb90-4aa8-8bd8-45d5295f48d1" target="_blank"><img src="/TradeWorkstation/PicPool/Get/ID/84bbfd49-d34a-44b3-80a0-e9f70e579563/Size/400x400"></a>
                            <div class="caption">
                                <p class="my-text-overflow">自行车</p>
                                <p class="text-right">
                                    <small>mcdull</small>
                                    <span class="error-text">￥100</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 thumb">
                        <div class="thumbnail">
                            <a href="/TradeWorkstation/Sell/Detail/ID/101ede68-eb90-4aa8-8bd8-45d5295f48d1" target="_blank"><img src="/TradeWorkstation/PicPool/Get/ID/84bbfd49-d34a-44b3-80a0-e9f70e579563/Size/400x400"></a>
                            <div class="caption">
                                <p class="my-text-overflow">自行车</p>
                                <p class="text-right">
                                    <small>mcdull</small>
                                    <span class="error-text">￥100</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 thumb">
                        <div class="thumbnail">
                            <a href="/TradeWorkstation/Sell/Detail/ID/101ede68-eb90-4aa8-8bd8-45d5295f48d1" target="_blank"><img src="/TradeWorkstation/PicPool/Get/ID/84bbfd49-d34a-44b3-80a0-e9f70e579563/Size/400x400"></a>
                            <div class="caption">
                                <p class="my-text-overflow">自行车</p>
                                <p class="text-right">
                                    <small>mcdull</small>
                                    <span class="error-text">￥100</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 thumb">
                        <div class="thumbnail">
                            <a href="/TradeWorkstation/Sell/Detail/ID/101ede68-eb90-4aa8-8bd8-45d5295f48d1" target="_blank"><img src="/TradeWorkstation/PicPool/Get/ID/84bbfd49-d34a-44b3-80a0-e9f70e579563/Size/400x400"></a>
                            <div class="caption">
                                <p class="my-text-overflow">自行车</p>
                                <p class="text-right">
                                    <small>mcdull</small>
                                    <span class="error-text">￥100</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--考研用书-->
                <div class="col-sm-10 index-pic-block">
                    <div class="col-sm-3 col-xs-6 thumb">
                        <div class="thumbnail">
                            <a href="/TradeWorkstation/Sell/Detail/ID/101ede68-eb90-4aa8-8bd8-45d5295f48d1" target="_blank"><img src="/TradeWorkstation/PicPool/Get/ID/84bbfd49-d34a-44b3-80a0-e9f70e579563/Size/400x400"></a>
                            <div class="caption">
                                <p class="my-text-overflow">自行车</p>
                                <p class="text-right">
                                    <small>test2</small>
                                    <span class="error-text">￥100</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--考级考证-->
                <div class="col-sm-10 index-pic-block">
                    <div class="col-sm-3 col-xs-6 thumb">
                        <div class="thumbnail">
                            <a href="/TradeWorkstation/Sell/Detail/ID/101ede68-eb90-4aa8-8bd8-45d5295f48d1" target="_blank"><img src="/TradeWorkstation/PicPool/Get/ID/84bbfd49-d34a-44b3-80a0-e9f70e579563/Size/400x400"></a>
                            <div class="caption">
                                <p class="my-text-overflow">自行车</p>
                                <p class="text-right">
                                    <small>mcdull</small>
                                    <span class="error-text">￥100</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--课外书-->
                <div class="col-sm-10 index-pic-block">
                    <div class="col-sm-3 col-xs-6 thumb">
                        <div class="thumbnail">
                            <a href="/TradeWorkstation/Sell/Detail/ID/101ede68-eb90-4aa8-8bd8-45d5295f48d1" target="_blank"><img src="/TradeWorkstation/PicPool/Get/ID/84bbfd49-d34a-44b3-80a0-e9f70e579563/Size/400x400"></a>
                            <div class="caption">
                                <p class="my-text-overflow">自行车</p>
                                <p class="text-right">
                                    <small>mcdull</small>
                                    <span class="error-text">￥100</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--电脑-->
                <div class="col-sm-10 index-pic-block">
                    <div class="col-sm-3 col-xs-6 thumb">
                        <div class="thumbnail">
                            <a href="/TradeWorkstation/Sell/Detail/ID/101ede68-eb90-4aa8-8bd8-45d5295f48d1" target="_blank"><img src="/TradeWorkstation/PicPool/Get/ID/84bbfd49-d34a-44b3-80a0-e9f70e579563/Size/400x400"></a>
                            <div class="caption">
                                <p class="my-text-overflow">自行车</p>
                                <p class="text-right">
                                    <small>mcdull</small>
                                    <span class="error-text">￥100</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--平板-->
                <div class="col-sm-10 index-pic-block">
                    <div class="col-sm-3 col-xs-6 thumb">
                        <div class="thumbnail">
                            <a href="/TradeWorkstation/Sell/Detail/ID/101ede68-eb90-4aa8-8bd8-45d5295f48d1" target="_blank"><img src="/TradeWorkstation/PicPool/Get/ID/84bbfd49-d34a-44b3-80a0-e9f70e579563/Size/400x400"></a>
                            <div class="caption">
                                <p class="my-text-overflow">自行车</p>
                                <p class="text-right">
                                    <small>mcdull</small>
                                    <span class="error-text">￥100</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--生活必备-->
            <div class="index-life clearfix">
                <div class="col-md-12"><h5>| 生活必备</h5></div>
                <div class="col-sm-2 hidden-xs index-class-block">
                    <h6 class="h6-on">自行车</h6>
                    <h6>小电器</h6>
                    <h6>化妆品</h6>
                    <h6>服装</h6>
                </div>
                <!--自行车-->
                <div class="col-md-10 index-pic-block">
                    <div class="col-md-3 col-xs-6 thumb">
                        <div class="thumbnail">
                            <a href="/TradeWorkstation/Sell/Detail/ID/101ede68-eb90-4aa8-8bd8-45d5295f48d1" target="_blank"><img src="/TradeWorkstation/PicPool/Get/ID/84bbfd49-d34a-44b3-80a0-e9f70e579563/Size/400x400"></a>
                            <div class="caption">
                                <p class="my-text-overflow">自行车</p>
                                <p class="text-right">
                                    <small>mcdull</small>
                                    <span class="error-text">￥100</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--小电器-->
                <div class="col-md-10 index-pic-block">
                    <div class="col-md-3 col-xs-6 thumb">
                        <div class="thumbnail">
                            <a href="/TradeWorkstation/Sell/Detail/ID/101ede68-eb90-4aa8-8bd8-45d5295f48d1" target="_blank"><img src="/TradeWorkstation/PicPool/Get/ID/84bbfd49-d34a-44b3-80a0-e9f70e579563/Size/400x400"></a>
                            <div class="caption">
                                <p class="my-text-overflow">自行车</p>
                                <p class="text-right">
                                    <small>mcdull</small>
                                    <span class="error-text">￥100</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--化妆品-->
                <div class="col-md-10 index-pic-block">
                    <div class="col-md-3 col-xs-6 thumb">
                        <div class="thumbnail">
                            <a href="/TradeWorkstation/Sell/Detail/ID/101ede68-eb90-4aa8-8bd8-45d5295f48d1" target="_blank"><img src="/TradeWorkstation/PicPool/Get/ID/84bbfd49-d34a-44b3-80a0-e9f70e579563/Size/400x400"></a>
                            <div class="caption">
                                <p class="my-text-overflow">自行车</p>
                                <p class="text-right">
                                    <small>mcdull</small>
                                    <span class="error-text">￥100</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--服装-->
                <div class="col-md-10 index-pic-block">
                    <div class="col-md-3 col-xs-6 thumb">
                        <div class="thumbnail">
                            <a href="/TradeWorkstation/Sell/Detail/ID/101ede68-eb90-4aa8-8bd8-45d5295f48d1" target="_blank"><img src="/TradeWorkstation/PicPool/Get/ID/84bbfd49-d34a-44b3-80a0-e9f70e579563/Size/400x400"></a>
                            <div class="caption">
                                <p class="my-text-overflow">自行车</p>
                                <p class="text-right">
                                    <small>mcdull</small>
                                    <span class="error-text">￥100</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--休闲娱乐-->
            <div class="index-leisure clearfix">
                <div class="col-md-12"><h5>| 休闲娱乐</h5></div>
                <div class="col-sm-2 hidden-xs index-class-block">
                    <h6 class="h6-on">运动</h6>
                    <h6>手机</h6>
                    <h6>相机</h6>
                    <h6>MP3/MP4</h6>
                    <h6>虚拟物品</h6>
                    <h6>游戏机</h6>
                </div>
                <!--运动-->
                <div class="col-md-10 index-pic-block">
                    <div class="col-md-3 col-xs-6 thumb">
                        <div class="thumbnail">
                            <a href="/TradeWorkstation/Sell/Detail/ID/101ede68-eb90-4aa8-8bd8-45d5295f48d1" target="_blank"><img src="/TradeWorkstation/PicPool/Get/ID/84bbfd49-d34a-44b3-80a0-e9f70e579563/Size/400x400"></a>
                            <div class="caption">
                                <p class="my-text-overflow">自行车</p>
                                <p class="text-right">
                                    <small>mcdull</small>
                                    <span class="error-text">￥100</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--手机-->
                <div class="col-md-10 index-pic-block">
                    <div class="col-md-3 col-xs-6 thumb">
                        <div class="thumbnail">
                            <a href="/TradeWorkstation/Sell/Detail/ID/101ede68-eb90-4aa8-8bd8-45d5295f48d1" target="_blank"><img src="/TradeWorkstation/PicPool/Get/ID/84bbfd49-d34a-44b3-80a0-e9f70e579563/Size/400x400"></a>
                            <div class="caption">
                                <p class="my-text-overflow">自行车</p>
                                <p class="text-right">
                                    <small>mcdull</small>
                                    <span class="error-text">￥100</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--相机-->
                <div class="col-md-10 index-pic-block">
                    <div class="col-md-3 col-xs-6 thumb">
                        <div class="thumbnail">
                            <a href="/TradeWorkstation/Sell/Detail/ID/101ede68-eb90-4aa8-8bd8-45d5295f48d1" target="_blank"><img src="/TradeWorkstation/PicPool/Get/ID/84bbfd49-d34a-44b3-80a0-e9f70e579563/Size/400x400"></a>
                            <div class="caption">
                                <p class="my-text-overflow">自行车</p>
                                <p class="text-right">
                                    <small>mcdull</small>
                                    <span class="error-text">￥100</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--MP3/MP4-->
                <div class="col-md-10 index-pic-block">
                    <div class="col-md-3 col-xs-6 thumb">
                        <div class="thumbnail">
                            <a href="/TradeWorkstation/Sell/Detail/ID/101ede68-eb90-4aa8-8bd8-45d5295f48d1" target="_blank"><img src="/TradeWorkstation/PicPool/Get/ID/84bbfd49-d34a-44b3-80a0-e9f70e579563/Size/400x400"></a>
                            <div class="caption">
                                <p class="my-text-overflow">自行车</p>
                                <p class="text-right">
                                    <small>mcdull</small>
                                    <span class="error-text">￥100</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--虚拟物品-->
                <div class="col-md-10 index-pic-block">
                    <div class="col-md-3 col-xs-6 thumb">
                        <div class="thumbnail">
                            <a href="/TradeWorkstation/Sell/Detail/ID/101ede68-eb90-4aa8-8bd8-45d5295f48d1" target="_blank"><img src="/TradeWorkstation/PicPool/Get/ID/84bbfd49-d34a-44b3-80a0-e9f70e579563/Size/400x400"></a>
                            <div class="caption">
                                <p class="my-text-overflow">自行车</p>
                                <p class="text-right">
                                    <small>mcdull</small>
                                    <span class="error-text">￥100</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--游戏机-->
                <div class="col-md-10 index-pic-block">
                    <div class="col-md-3 col-xs-6 thumb">
                        <div class="thumbnail">
                            <a href="/TradeWorkstation/Sell/Detail/ID/101ede68-eb90-4aa8-8bd8-45d5295f48d1" target="_blank"><img src="/TradeWorkstation/PicPool/Get/ID/84bbfd49-d34a-44b3-80a0-e9f70e579563/Size/400x400"></a>
                            <div class="caption">
                                <p class="my-text-overflow">自行车</p>
                                <p class="text-right">
                                    <small>mcdull</small>
                                    <span class="error-text">￥100</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--全部二手分类-->
            <h4>全部二手分类</h4>
            <div class="row index-all-class">
                <div class="col-sm-7">
                    <h5>
                        <a href="">校园代步</a>
                        <small><a href="#">自行车</a></small>
                        <small><a href="#">其他</a></small>
                    </h5>
                    <h5>
                        <a href="">图书</a>
                        <small><a href="#">教科书</a></small>
                        <small><a href="#">考研用书</a></small>
                        <small><a href="#">考级考证</a></small>
                        <small><a href="#">课外书</a></small>
                        <small><a href="#">其他</a></small>
                    </h5>
                    <h5>
                        <a href="">电子产品</a>
                        <small><a href="#">手机</a></small>
                        <small><a href="#">电脑</a></small>
                        <small><a href="#">平板</a></small>
                        <small><a href="#">游戏机</a></small>
                        <small><a href="#">相机</a></small>
                        <small><a href="#">MP3\MP4</a></small>
                        <small><a href="#">其他</a></small>
                    </h5>
                    <h5>
                        <a href="">数码配件</a>
                        <small><a href="#">U盘</a></small>
                        <small><a href="#">移动硬盘</a></small>
                        <small><a href="#">鼠标</a></small>
                        <small><a href="#">键盘</a></small>
                        <small><a href="#">耳机</a></small>
                        <small><a href="#">其他</a></small>
                    </h5>
                </div>
                <div class="col-sm-5">
                    <h5>
                        <a href="">生活用品</a>
                        <small><a href="#">小家电</a></small>
                        <small><a href="#">小家具</a></small>
                        <small><a href="#">运动</a></small>
                        <small><a href="#">化妆品</a></small>
                        <small><a href="#">其他</a></small>
                    </h5>
                    <h5>
                        <a href="">服装鞋包</a>
                        <small><a href="#">男生的</a></small>
                        <small><a href="#">女生的</a></small>
                    </h5>
                    <h5><a href="">虚拟物品</a></h5>
                    <h5><a href="">票务</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-1 hidden-sm hidden-xs index-right">
            <!--最新求购-->
            <h4>最新求购<small><a href="~/Buy/Search/Page/1">进入求购区>></a></small></h4>
            <div class="col-md-12">
                <p><a href="#">求雅思真题<span>[9-11]</span></a></p>
                <p><a href="#">求雅思真题<span>[9-11]</span></a></p>
                <p><a href="#">求雅思真题<span>[9-11]</span></a></p>
                <p><a href="#">求雅思真题<span>[9-11]</span></a></p>
                <p><a href="#">求雅思真题<span>[9-11]</span></a></p>
                <p><a href="#">求雅思真题<span>[9-11]</span></a></p>
            </div>

            <!--最新求拼-->
            <h4>最新求拼<small><a href="~/Car/Search/Page/1">进入爱拼>></a></small></h4>
            <div class="col-md-12">
                <p><a href="#">求雅思真题<span>[9-11]</span></a></p>
                <p><a href="#">求雅思真题<span>[9-11]</span></a></p>
                <p><a href="#">求雅思真题<span>[9-11]</span></a></p>
                <p><a href="#">求雅思真题<span>[9-11]</span></a></p>
                <p><a href="#">求雅思真题<span>[9-11]</span></a></p>
                <p><a href="#">求雅思真题<span>[9-11]</span></a></p>
            </div>

            <!--热门爱拼目的地-->
            <h4>热门爱拼目的地</h4>
            <div class="col-md-12">
                <h5>
                    <a href="#">双流机场</a>
                    <small><a href="#">春熙路</a></small>
                    <small><a href="#">证从考场</a></small>
                </h5>
                <h5>
                    <small><a href="#">北站</a></small>
                    <a href="#">万家湾</a>
                    <small><a href="#">南站</a></small>
                </h5>
                <h5>
                    <small><a href="#">电子科大</a></small>
                    <a href="#">川大（望江）</a>
                    <small><a href="#">西南交大</a></small>
                </h5>
                <h5>
                    <small><a href="#">西南民大</a></small>
                    <small><a href="#">川大（双流）</a></small>
                    <a href="#">川师</a>
                </h5>
            </div>

            <!--小广告-->
            <div class="col-sm-12">
                <img src="~/image/adv.png" alt="" />
            </div>
        </div>
    </div>
</div>
