@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "发布-柳交所";
    ViewBag.Css = new string[]{
        "~/bundles/publish_styles"
    };
}

<div class="container" id="location">
    <span>您的位置 >> 发布</span>
</div>

<div class="container" id="fabu-top"></div>
<div class="container" id="fabu-middle">
    <div class="row">
        <div class="col-md-3 fb-list" id="fb-ershou"><a href="~/Sell/Add"><img src="~/image/fb-ershou.png" /></a></div>
        <div class="col-md-3 fb-list" id="fb-qiugou"><a href="~/Buy/Add"><img src="~/image/fb-qiugou.png" /></a></div>
        <div class="col-md-3 fb-list" id="fb-pinqita"><a href="~/Car/Add"><img src="~/image/fb-pinchuxing.png" /></a></div>
        <div class="col-md-3 fb-list" id="fb-pinqita"><a href="~/Other/Add"><img src="~/image/fb-pinqita.png" /></a></div>
    </div>
</div>
